* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.container {
  width: 100%;
  padding: 0;
}

.background {
  background: rgb(2,0,36);
  background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(8,8,89,1) 100%);
}

/* HEADER */
header {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

/* NAVBAR MENU */
.navbar {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: 100%;
}

.navbar_left {
  width: 50%;
}
.navbar_right {
  width: 50%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 20px;
  list-style: none;
}

.navbar ul li a {
  color: white;
}
.navbar ul li a:hover {
  color: #F9636B;
  text-decoration: none;
}

.navbar button {
  height: 50%;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 20px;
  color: white;
  background: rgb(7,150,198);
  background: linear-gradient(83deg, rgba(7,150,198,1) 0%, rgba(5,66,111,1) 100%);
  border: none;
}
.navbar button:hover {
  background: rgb(188,42,109);
  background: linear-gradient(82deg, rgba(188,42,109,1) 0%, rgba(218,70,108,1) 50%, rgba(226,137,132,1) 100%);  

}

/* FINE NAVBAR MENU */

/* JUMBO */

.jumbo {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  width: 100%;
}

.j_left {
  height: 70%;
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.j_title h1 {
  font-size: 50px;
}
.j_subtitle {
  margin: 20px 0;
  color: #03A7D3E6;
}
.j_button {
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  border: none;
  margin-right: 20px;
}
.blue {
  background: rgb(7,150,198);
  background: linear-gradient(83deg, rgba(7,150,198,1) 0%, rgba(5,66,111,1) 100%);
}
.pink {
  background: rgb(188,42,109);
  background: linear-gradient(82deg, rgba(188,42,109,1) 0%, rgba(218,70,108,1) 50%, rgba(226,137,132,1) 100%);  
}
.blue:hover {
  background: rgb(188,42,109);
  background: linear-gradient(82deg, rgba(188,42,109,1) 0%, rgba(218,70,108,1) 50%, rgba(226,137,132,1) 100%);  
}
.pink:hover {
  background: rgb(7,150,198);
  background: linear-gradient(83deg, rgba(7,150,198,1) 0%, rgba(5,66,111,1) 100%);
}

.j_right {
  width: 50%;
}
.j_right img {
  height: 90%;
  margin: auto 0;
}

/* FINE JUMBO */
/* FINE HEADER */