<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  
  <title> Phlox Corporate </title>
</head>
<body>
  <div id="app" class="container">
    <header>
      <div class="navbar">
        <div class="navbar_left">
          <a href="#"><img :src=logo :alt="logo" class="logo"></a>
        </div>
        <div class="navbar_right">
          <ul class="menu">
            <li v-for="link in links"> <a href="#">{{link.name}} </a></li>
            <button class="button blue_button">{{button.name}}</button>
          </ul>
        </div>
      </div>
      <div class="section business">
        <div class="left">
          <div class="title">
            <strong> Business Planning </strong>
              <br> Digital Technology <br> 
            <strong> Modern Solution ! </strong>
          </div>
          <div class="subtitle">
            When, while the lovely valley teems with vapour around
          <br> meand the meridian sun strikes the upper surface.
          </div>
          <div class="title_buttons">
            <button class="button pink_button">Try It Now</button>
            <button class="button blue_button">Explore More</button>
            </div>
        </div>
        <div class="right">
          <img class="header_img" src="img/header.png" alt="header_img">
        </div>
      </div>
    </header>
    <div class="container white">
      <div class="section wedo">
        <div class="wedo_title">
          <span style="color: #F9636B;">Our Services</span>
          <h1><strong>What</strong> We Do </h1>
          <span>When, while the lovely valley teems whit vapour around meand the</span>
        </div>
        <div class="wedo_cards">
          <div class="card">
            <img src="img/Group-247.png" alt="">
            <div class="card_text">
              <h3>Data Analysis</h3>
          <span>When, while the lovely valley teems with vapour around  meand the meridian sun strikes the upper</span>
            </div>
            <button class="circle"><i class="fas fa-arrow-right"></i></button>
          </div>
          <div class="card">
            <img src="img/Group-567.png" alt="">
            <div class="card_text">
              <h3>SEO Optimization</h3>
          <span>When, while the lovely valley teems with vapour around  meand the meridian sun strikes the upper</span>
            </div>
            <button class="circle"><i class="fas fa-arrow-right"></i></button>
          </div>
          <div class="card">
            <img src="img/Group-538.png" alt="">
            <div class="card_text">
              <h3>Security Data</h3>
          <span>When, while the lovely valley teems with vapour around  meand the meridian sun strikes the upper</span>
            </div>
            <button class="circle"><i class="fas fa-arrow-right"></i></button>
          </div>
          <div class="card">
            <img src="img/Group-566.png" alt="">
            <div class="card_text">
              <h3>Branding Strategy</h3>
          <span>When, while the lovely valley teems with vapour around  meand the meridian sun strikes the upper</span>
            </div>
            <button class="circle"><i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
        <div class="wedo_button">
          <button class="button pink_button">View All Services</button>
        </div>
      </div>
    </div>
    <div class="section grow">
      <div class="left">
        <div class="img_bg">
          <img src="img/nemoodar.png" alt="">
        </div>
        <div class="img_up">
          <img src="img/men-data.png" alt="">
        </div>
      </div>
      <div class="right grow_right">
        <div class="right_text">
          <span style="color: white;">Start Your Project</span>
        <div class="title">
          <strong> Grow Your Business </strong>
            <br> With Our Strategy
        </div>
        <div class="subtitle">
          When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.
        </div>
        <div class="title_buttons">
          <button class="button pink_button">Try It Now</button>
          <button class="button blue_button">Explore More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="section portfolio">
      <div class="portfolio_title">
        <span style="color: #F9636B;">Portfolio</span>
        <h1><strong>latest</strong> work</h1>
      </div>
      <div class="portfolio_cards">
        <div class="portfolio_card">
          <div class="portfolio_card_img one">
            
          </div>
          <div class="portfolio_card_text">
            <span><strong>Basket of Flower on table</strong></span>
            <span style="color: lightgrey;"> Branding Strategy </span>
          </div>
        </div>
        <div class="portfolio_card">
          <div class="portfolio_card_img two">
            
          </div>
          <div class="portfolio_card_text">
            <span><strong>Purinky Products</strong></span>
            <span style="color: lightgrey;"> Digital Experience </span>
          </div>
        </div>
        <div class="portfolio_card">
          <div class="portfolio_card_img three">
            
          </div>
          <div class="portfolio_card_text">
            <span><strong>Satisfy Poster</strong></span>
            <span style="color: lightgrey;"> Branding Strategy </span>
          </div>
        </div>
      </div>
      <div class="portfolio_card_indicators">
        <ul>
          <li><a href="" class="first"><i class="fas fa-circle"></i></a></li>
          <li><a href=""><i class="fas fa-circle"></i></a></li>
          <li><a href=""><i class="fas fa-circle"></i></a></li>
          <li><a href=""><i class="fas fa-circle"></i></a></li>
          <li><a href=""><i class="fas fa-circle"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="section pricelist">
      <div class="pricelist_container">
        <div class="pricelist_title">
          <span style="color: #F9636B;">Price List</span>
          <h1><strong>Our</strong> Pricing</h1>
          <span style="color: lightgrey;">When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</span>
        </div>
        <div class="pricelist_cards">
          <div class="pricelist_card first">
            <div class="pricelist_card_title">
              <h1><strong>Designing</strong></h1>
              <span><strong>PROCESS</strong></span>
            </div>
            <div class="pricelist_card_price">
              <span style="margin-right: 60px;">$</span>
              <h1>40</h1>
              <span>Per Month</span>
            </div>
            <div class="pricelist_card_list">
              <ul>
                <li><strong>Creative</strong> Design Enabled</li>
                <li><strong>Vibrant</strong> Color Usage</li>
                <li><strong>Eye</strong> Catching Design</li>
                <li><strong>Extreme</strong> Typography</li>
                <li><strong>Exceptional</strong> Design</li>
              </ul>
            </div>
            <div class="pricelist_card_button">
              <button class="button pink_button"> <strong> Order Now &#10230; </strong></button>
            </div>
          </div>
          <div class="pricelist_card second">
            <div class="pricelist_card_title">
              <h1><strong>Developing</strong></h1>
              <span><strong>PRODUCT</strong></span>
            </div>
            <div class="pricelist_card_price">
              <span style="margin-right: 60px;">$</span>
              <h1>60</h1>
              <span>Per Month</span>
            </div>
            <div class="pricelist_card_list">
              <ul>
                <li><strong>Creative</strong> Design Enabled</li>
                <li><strong>Vibrant</strong> Color Usage</li>
                <li><strong>Eye</strong> Catching Design</li>
                <li><strong>Extreme</strong> Typography</li>
                <li><strong>Exceptional</strong> Design</li>
              </ul>
            </div>
            <div class="pricelist_card_button">
              <button class="button second_button"> <strong> Order Now &#10230; </strong></button>
            </div>
          </div>
          <div class="pricelist_card first">
            <div class="pricelist_card_title">
              <h1><strong>Supporting</strong></h1>
              <span><strong>CLIENTS</strong></span>
            </div>
            <div class="pricelist_card_price">
              <span style="margin-right: 60px;">$</span>
              <h1>80</h1>
              <span>Per Month</span>
            </div>
            <div class="pricelist_card_list">
              <ul>
                <li><strong>Creative</strong> Design Enabled</li>
                <li><strong>Vibrant</strong> Color Usage</li>
                <li><strong>Eye</strong> Catching Design</li>
                <li><strong>Extreme</strong> Typography</li>
                <li><strong>Exceptional</strong> Design</li>
              </ul>
            </div>
            <div class="pricelist_card_button">
              <button class="button pink_button"> <strong> Order Now &#10230; </strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section blog">
      <div class="blog_container">
        <div class="blog_title">
          <span style="color: #F9636B;">Blog</span>
        <h1><strong>Latest</strong> Posts</h1>
        <span>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</span>
        </div>
        <div class="blog_cards">
        <div class="blog_left">
          <div class="blog_card_left">
            <div class="blog_card_text">
            <div class="blog_card_title">
              <span>April 21, 2019 &#8901; by Paul</span>
              <h4><strong> Amazon gets CCI nod to acquire 49% stake in</strong></h4>
              <span>When, while the lovely valley teems with vapor around me, and the meridian sun s ...</span>
            </div>
            <div class="blog_card_button">
              <button class="button blog"> Read More </button>
            </div>
          </div>
          </div>
        </div>
          <div class="blog_card_right">
            <div class="blog_card_text right">
            <div class="blog_card_title cards_right">
              <span style="margin-top: 40px;">April 21, 2019 &#8901; by Paul</span>
              <h4><strong> Clearing Corporations get SEBI nod to invest in overnight funds</strong></h4>
              <span>When, while the lovely valley teems with vapor around me, and the meridian sun s ...</span>
            </div>
            <div class="blog_card_button button_card_right">
              <button class="button blog"> Read More </button>
            </div>
          </div>
          </div>
          <div class="blog_card_right">
            <div class="blog_card_text right">
              <div class="blog_card_title cards_right">
                <span style="margin-top: 40px;">April 21, 2019 &#8901; by Paul</span>
                <h4><strong> Shabnam Dhillion, wife of RSSB chief Gurinder Dhillon, passes away in London</strong></h4>
                <span>When, while the lovely valley teems with vapor around me, and the meridian sun s ...</span>
              </div>
              <div class="blog_card_button button_card_right">
                <button class="button blog"> Read More </button>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
    <div class="section testimonial">
      <div class="testimonial_container">
      <div class="testimonial_title">
        <span style="color: #F9636B;">Testimonial</span>
        <h1><strong>What</strong> People Say</h1>
        <span>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</span>
      </div>
      <div class="testimonial_cards">
        <div class="testimonial_card">
          <img src="img/szabo-viktor-1266895-unsplash-1024x1024.png" alt="">
          <div class="testimonial_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
          <div class="testimonial_text">
            When, while lovely  valley teems with vapour around meand meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.
            <h5>Michkel Anegl</h5>
            <span>Marketing Management</span>
          </div>
        </div>
        <div class="testimonial_card">
          <img src="img/philipe-cavalcante-539505-unsplash-1024x1024.png" alt="">
          <div class="testimonial_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
          <div class="testimonial_text">
            When, while lovely  valley teems with vapour around meand meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.
            <h5>Michkel Anegl</h5>
            <span>Marketing Management</span>
          </div>
        </div>
        <div class="testimonial_card">
          <img src="img/fabio-spinelli-695744-unsplash-1024x1024.png" alt="">
          <div class="testimonial_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
          <div class="testimonial_text">
            When, while lovely  valley teems with vapour around meand meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.
            <h5>Michkel Anegl</h5>
            <span>Marketing Management</span>
          </div>
        </div>
      </div>
      <div class="testimonial_loghi">
        <div class="logo"><img src="img/client-1-1.png" alt=""></div>
        <div class="logo"><img src="img/clienty-2.png" alt=""></div>
        <div class="logo"><img src="img/clienty-3.png" alt=""></div>
        <div class="logo"><img src="img/clienty-4.png" alt=""></div>
        <div class="logo"><img src="img/client-5.png" alt=""></div>
      </div>
    </div>
    </div>
    <div class="newsletter_container">
      <div class="newsletter">
        <div class="newsletter_left">
          <h1><strong>We Offer Awesome Services</strong></h1>
          <span>When, while lovely valley teems with vapour around meand meridian sun strikes the upper surface.</span>
        </div>
        <div class="newsletter_right">
          <div class="input_text">
            <input type="text" class="form-control" placeholder="Enter Your Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
          </div> 
          <div class="input-group-append">
            <button class="button blue_button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer_up">
        <div class="footer_block one">
          <a href="#"><img :src=logo :alt="logo" class="logo"></a>
          <span>When, while lovely valley teems vapour around meand meridian sun strikes the upper impenetrable</span>
        </div>
        <div class="footer_block two">
          <ul>
            <li><strong>Quick Links</strong></li>
            <li v-for="quicklink in quicklinks"> <a href="#">{{quicklink.name}} </a></li>
          </ul>
        </div>
        <div class="footer_block three">
          <ul>
            <li><strong>Resources</strong></li>
            <li v-for="resourceslink in resourceslinks"> <a href="#">{{resourceslink.name}} </a></li>
          </ul>
        </div>
        <div class="footer_block four">
          <ul>
            <li><strong>Contact Us</strong></li>
            <li><a href="#"><strong><span style="color: white;">Address: </span></strong>{{contactus.address}} </a></li>
            <li><a href="#"><strong><span style="color: white;">Phone: </span></strong>{{contactus.phone}} </a></li>
            <li><a href="#"><strong><span style="color: white;">Email: </span></strong>{{contactus.email}} </a></li>
          </ul>
        </div>
      </div>
      <div class="footer_down">
        <div class="footer_down_space">
        <div class="footer_left">
          <h6><i class="far fa-copyright"></i> Phlox. All Rights Reserved.</h6>
        </div>
      <div class="footer_right">
        <ul>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>      
    </div>
  </div>
    </footer>
  </div>


  <script type="text/javascript" src="js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/df7a7030e8.js" crossorigin="anonymous"></script>
</body>
</html>
